{% extends "layout/base.html" %}
{% block content %}
    <section id="sobre" class="gorilla-section">

        {% include 'parallax/meeting.html' %}

        <div class="container gorilla-content">
            <div class="col-md-12">
                <h1>500</h1>
                <h2 class="text-justify">Opssss ocorreu um imprevisto!</h2>
                <p class="lead">Contate o responsavel através do email
                    <a>contato@gorillascode.com</a></p>
            </div>
        </div>
    </section>
{% endblock %}
