<!DOCTYPE html>
{% extends "layout/base.html" %}
{% block script %}
    <script>
    $(window).ready(function () {
        ajustAnchorHelper();
    });

    function ajustAnchorHelper() {

        var navbarHeight = $('#navbar').height();

        $('div.gorillas-virtual-anchor').css({"height": navbarHeight, "margin-top": navbarHeight * -1});
    }

    $(document).scroll(function() {
        var scrollPos = $(document).scrollTop();
        $('#navbar ul li a.smooth').each(function () {
            var currLink = $(this);
            var currLi = $(currLink).parent();
            var currHref = $(currLink).attr("href");
            var section = $(currHref+"-section");
            if (section.position().top <= scrollPos && section.position().top + section.height() > scrollPos) {
                $('#navbar ul li a').removeClass("active");
                currLi.addClass("active");
            }
            else {
                currLi.removeClass("active");
            }
        });
    });

    </script>
{% endblock %}

{% block menu %}
    <li class="active"><a class="smooth" href="#desenvolvimento">Desenvolvimento</a></li>
    <li><a class="smooth" href="#pacotes">Pacotes</a></li>
    <li><a class="smooth" href="#clientes">Clientes</a></li>
    <li><a class="gorilla-contact-button" href="/contato" role="button">Fale com a gente</a></li>
{% endblock %}

{% block content %}

    <section id="desenvolvimento-section" class="gorilla-section">

        {% include 'parallax/dev.html' %}

        <div id="desenvolvimento" class="gorillas-virtual-anchor"></div>

        <div class="container gorilla-content">

            <div class="row">

                <div class="col-md-12">
                    <h1 class="text-left">Um novo conceito de desenvolvimento</h1>

                    <h2 class="text-left text-justify">Viabilizamos seu negócio da forma mais eficiente
                        possível
                        através uma estratégia GO TO MARKET!</h2>

                </div>

            </div>

        </div>

        <div class="container gorilla-content-lead">

            <div class="row">
                <div class="col-md-3 gorilla-content-lead-item">
                    <div class="center-block">
                        <img src="static/imagens/icones/01_ico_problema.png" style="height: 120px; width: auto"/>
                    </div>

                    <h2>Um problema<br>complicado</h2>

                    <p class="lead text-center">Você apresenta um problema que pode ser resolvido com tecnologia.</p>
                </div>

                <div class="col-md-3 gorilla-content-lead-item">
                    <div class="center-block">
                        <img src="static/imagens/icones/02_ico_solucao.png" style="height: 120px; width: auto"/>
                    </div>

                    <h2>Uma proposta<br>sob medida</h2>

                    <p class="lead text-center">Entendemos o que você precisa e propomos uma solução exclusiva.</p>
                </div>

                <div class="col-md-3 gorilla-content-lead-item">
                    <div class="center-block">
                        <img src="static/imagens/icones/03_ico_equipe.png" style="height: 120px; width: auto"/>
                    </div>

                    <h2>Uma equipe<br>de gorilas</h2>

                    <p class="lead text-center">Definimos a equipe, os entregáveis e a velocidade dos resultados
                        esperados.</p>
                </div>

                <div class="col-md-3 gorilla-content-lead-item">
                    <div class="center-block">
                        <img src="static/imagens/icones/04_ico_mapa.png" style="height: 120px; width: auto"/>
                    </div>

                    <h2>Um plano<br>bem pensado</h2>

                    <p class="lead text-center">Organizamos tudo em funcionalidades e caracteristicas. Let's work!</p>
                </div>
            </div>
        </div>

        <div class="jumbotron gorilla-content">

            <div class="container">

                <div class="col-md-12 gorilla-content-lead">

                    <div class="row">
                        <h1>Nós trabalhamos por ciclos</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-6 gorilla-content-lead-item">
                            <h2>O que é um ciclo?</h2>

                            <p class="lead">Duas semanas de desenvolvimento com uma equipe de profissionais voltados ao
                                seu negócio.</p>
                        </div>
                        <div class="col-md-6 gorilla-content-lead-item">
                            <h2>Como funciona?</h2>

                            <p class="lead">Cada ciclo possui 4 etapas onde são desenvolvidas novas funcionalidades
                                iterativamente.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 gorilla-workflow">
                            <div class="center-block">
                                <img src="static/imagens/icones/05_ico_prioridade.png" style="height: 150px; width: auto"/>
                            </div>

                            <h2>A prioridade</h2>

                            <p class="lead text-center">Você escolhe as funcionalidades e características que vamos
                                trabalhar no
                                ciclo.</p>
                        </div>

                        <div class="col-md-3 gorilla-workflow">
                            <div class="center-block">
                                <img src="static/imagens/icones/06_ico_prototipo.png" style="height: 150px; width: auto"/>
                            </div>

                            <h2>Um protótipo</h2>

                            <p class="lead text-center">Apresentamos uma proposta através de um protótipo com o que será
                                desenvolvido.</p>
                        </div>

                        <div class="col-md-3 gorilla-workflow">
                            <div class="center-block">
                                <img src="static/imagens/icones/07_ico_hard_work.png" style="height: 150px; width: auto"/>
                            </div>

                            <h2>Hard work</h2>

                            <p class="lead text-center">Fazemos o que nos propomos melhor: analisar, programar, testar e
                                nos
                                divertir.</p>
                        </div>

                        <div class="col-md-3 gorilla-workflow">
                            <div class="center-block">
                                <img src="static/imagens/icones/08_ico_lancamento.png" style="height: 150px; width: auto"/>
                            </div>

                            <h2>o resultado</h2>

                            <p class="lead text-center">Apresentamos o resultado alcançado e você tem duas escolhas:
                                <br>Lançar ou evoluir mais?</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 gorilla-content-lead-item">
                            <h2>Para quem é indicado?</h2>

                            <p class="lead">Empresas, startups ou novos negócios digitais que dependem de tecnolgia e
                                buscam agilidade.</p>
                        </div>
                        <div class="col-md-6 gorilla-content-lead-item">
                            <h2>Qual é o investimento?</h2>

                            <p class="lead">A partir de <span id="package.1cycle.price" class="info"></span> por ciclo.</p>

                            <p class="lead"><a href="#pacotes" class="smooth">Conheça nossos pacotes</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="container gorilla-contact">
            <div class="col-md-8">
                <h1>Precisa de desenvolvimento de software?</h1>
            </div>

            <div class="col-md-2">
                <a class="btn btn-success gorilla-contact-button" href="/contato" role="button">Fale com a gente</a>
            </div>
        </div>

    </section>

    <section id="pacotes-section" class="gorilla-section">

        {% include 'parallax/bridge.html' %}

        <div id="pacotes" class="gorillas-virtual-anchor"></div>

        <div class="container gorilla-content">

            <div class="col-md-12">
                <h1 class="text-left">Pacotes para sua necessidade</h1>

                <h2 class="text-left text-justify">Criamos um conceito de pacote de desenvolvimento para que nossos
                    clientes
                    entendam facilmente o que precisam para alcançar seus objetivos.</h2>
            </div>

            <div class="col-md-12">
                <p class="lead text-justify">De um simples aplicativo até uma complexa plataforma na nuvem para
                    milhares de usuários, você define quantos ciclos pretende investir, a velocidade e
                    prioridade das entregas. Da forma mais transparente e objetiva possível.</p>
            </div>

        </div>

        <div class="gorilla-content gorilla-content-package">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="gorilla-package">
                    <div>
                      <div class="icon mvp">
                        <img src="static/imagens/icones/12_ico_casa.png"/>
                      </div>
                      <h1>MVP</h1>
                      <h2>Teste sua ideia</h2>
                      <hr>

                      <ul class="features">
                        <li>
                          <strong>3 ciclos</strong> e implantação
                        </li>
                        <li>
                          <strong>1 frontend</strong> Web, Android ou iOS
                        </li>
                        <li>
                          <strong>Backend</strong> API + Banco de dados
                        </li>
                      </ul>
                    </div>
                    <hr>
                    <h3>
                      <span id="package.mvp.currency" class="info"></span>
                      <span id="package.mvp.price" class="info price"></span>
                    </h3>

                    <p>40% Entrada + 20% a cada entrega</p>
                    <p>2 meses de projeto</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="gorilla-package gorilla-package-popular">
                    <div>
                      <div class="icon monetize">
                        <img src="static/imagens/icones/13_ico_mansao.png"/>
                      </div>
                      <h1>Rentabilize</h1>

                      <h2>Monetize seu negócio</h2>
                      <hr>

                      <ul class="features">
                        <li>
                          <strong>5 ciclos</strong> e implantação
                        </li>
                        <li>
                          <strong>2 frontends</strong> Web, Android ou iOS
                        </li>
                        <li>
                          <strong>Backend</strong> API + Banco de dados
                        </li>
                        <li>
                          <strong>Faturamento</strong> de seus clientes
                        </li>
                        <li>
                          <strong>Painel</strong> com indicadores e relatórios
                        </li>
                        <li>
                          <strong>3 meses</strong> Monitoração e Suporte
                        </li>
                      </ul>
                    </div>
                    <hr>
                    <h3>
                      <span id="package.monetize.currency" class="info"></span>
                      <span id="package.monetize.price" class="info price"></span>,00
                    </h3>

                    <p>40% Entrada + 12% a cada entrega</p>
                    <p>4 meses de projeto</p>

                    <div class="tag">Mais popular</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="gorilla-package">
                    <div class="">
                      <div class="icon scale">
                        <img src="static/imagens/icones/14_ico_predio.png"/>
                      </div>
                      <h1>Escale</h1>

                      <h2>Ganhe mercado</h2>
                      <hr>

                      <ul class="features">
                        <li>
                          <strong>8 ciclos</strong> e implantação
                        </li>
                        <li>
                          <strong>Multi frontends</strong> Web, Android ou iOS
                        </li>
                        <li>
                          <strong>Backend</strong> API + Banco de dados
                        </li>
                        <li>
                          <strong>Faturamento</strong> de seus clientes
                        </li>
                        <li>
                          <strong>Painel</strong> com indicadores e relatórios
                        </li>
                        <li>
                          <strong>6 meses</strong> Monitoração e Suporte
                        </li>
                        <li>
                          <strong>Alta disponibilidade</strong> garantida
                        </li>
                      </ul>
                    </div>
                    <hr>
                    <h3>
                      <span id="package.scale.currency" class="info"></span>
                      <span id="package.scale.price" class="info price"></span>,00
                    </h3>

                    <p>40% Entrada + 7,5% a cada entrega</p>
                    <p>6 meses de projeto</p>
                  </div>
                </div>

              </div>

            </div>
          </div>

        <div class="container-fluid gorilla-content">
            <div class="container gorilla-content-lead">

                <div class="row">

                    <div class="col-md-8 gorilla-content-lead-item center-block">
                        <h1>Customize seu pacote</h1>

                        <h2>Adicione ciclos, devs e serviços<br>conforme sua demanda e necessidade</h2>
                    </div>

                </div>

            </div>
        </div>

        <div class="gorilla-content">
            <div class="container">

                <div class="row">

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Especificação</h1>

                                <p class="lead text-center">Definimos tecnologias, componetentes e integrações necessárias para a solução.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.spec.price" class="info"></span></h3>

                            <p>Duas semanas</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Ciclo sob demanda</h1>

                                <p class="lead text-center">Precisou de mais alguma coisa? Adicionamos mais um ciclo ao seu pacote, sob demanda.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.cycle.price" class="info"></span></h3>

                            <p>A cada ciclo</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Implantação</h1>

                                <p class="lead text-center">Implantamos todos os componentes da sua solução em diversas nuvens existentes.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.deploy.price" class="info"></span></h3>

                            <p>A cada implantação</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Monitoração</h1>

                                <p class="lead text-center">Monitoração e suporte especializado 24/7 da solução para produtos que nunca podem parar.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.monitoring.price" class="info"></span></h3>

                            <p>Mensalmente</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Acionamento</h1>

                                <p class="lead text-center">Intervenções de uma equipe altamente especializada quando o seu produto precisar.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.actuation.price" class="info"></span></h3>

                            <p>Por hora</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Dev Adicional</h1>

                                <p class="lead text-center">Adicionamos um desenvolvedor frontend (Web, Android ou IOS) ou backend.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.dev.price" class="info"></span></h3>

                            <p>A cada ciclo</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Demanda pontual</h1>

                                <p class="lead text-center">Ajustes finos e pontuais com duração máxima de 2 dias quando seu negócio precisar.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.spotdemand.price" class="info"></span></h3>

                            <p>Por demanda</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Protótipo Funcional</h1>

                                <p class="lead text-center">Prototipamos de 4 a 6 telas web ou mobile capazes de convencer em demonstrações.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.prototype.price" class="info"></span></h3>


                            <p>Por protótipo</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Testes de carga</h1>

                                <p class="lead text-center">Garanta que sua solução esta preparada para o crescimento que você esta esperando.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.stresstest.price" class="info"></span></h3>

                            <p>Por plano de teste</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Teste de Usabilidade</h1>

                                <p class="lead text-center">Avalie a facilidade de uso da sua solução para seus usuários finais.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.usabilitytest.price" class="info"></span></h3>

                            <p>Por plano de teste</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Identidade digital</h1>

                                <p class="lead text-center">TBD.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.indentity.price" class="info"></span></h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Migração de dados</h1>

                                <p class="lead text-center">Migre com segurança e confiabilidade dados legados para uma nova solução.</p>
                            </div>
                            <hr>
                            <h3>Sob Consulta</h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Marcas e Patentes</h1>

                                <p class="lead text-center">Proteja-se registrando sua marca, patente ou software do seu negócio.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.patentTrademark.price" class="info"></span></h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Política Privacidade</h1>

                                <p class="lead text-center">Termos de uso e privacidade essenciais para qualquer novo negócio digital.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.privacyPolicy.price" class="info"></span></h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Evolução Contínua</h1>

                                <p class="lead text-center">A partir de 4 ciclos contratados possuimos preços e condições especiais.</p>
                            </div>
                            <hr>
                            <h3><span id="additional.continuous.price" class="info"></span></h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Indicadores</h1>

                                <p class="lead text-center">Dashboard com indicadores de negócio para acompanhamento em tempo real.</p>
                            </div>
                            <hr>
                            <h3>Sob Consulta</h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3 hide">
                        <div class="gorilla-additional">
                            <div>
                                <h1>Migração de dados</h1>

                                <p class="lead text-center">Migre com segurança e confiabilidade dados legados para uma nova solução.</p>
                            </div>
                            <hr>
                            <h3>Sob Consulta</h3>

                            <p>Solicite um orçamento</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="gorilla-partnership">
                            <div>
                                <h1>Seja um parceiro</h1>

                                <p class="lead text-center">Estamos em busca de parcerias que agreguem a novos produtos digitais.</p>
                            </div>
                            <a class="center-block gorilla-contact-button" href="/contato" role="button">Fale com a gente</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="container gorilla-contact">
            <div class="col-md-8">
                <h1>Ficou interessado? Nós estamos!</h1>
            </div>

            <div class="col-md-2">
                <a class="btn btn-success gorilla-contact-button" href="/contato" role="button">Fale com a gente</a>
            </div>
        </div>

	</section>

  <section id="clientes-section" class="gorilla-section gorilla-clients">

		{% include 'parallax/meeting.html' %}

		<div id="clientes" class="gorillas-virtual-anchor"></div>

		<div class="container gorilla-content">
			<div class="col-md-12">
				<h1 class="text-left">Nossos clientes</h1>

				<h2 class="text-left text-justify">Conheça um pouco dos nossos clientes</h2>
			</div>
		</div>
		<div class="gorilla-content container">
      <ul class="row clients">
        <li class="col-md-4">
          <a href="https://quiteja.com.br" target="_blank">
            <img src="/static/imagens/logos/logo-quiteja.png" title="QuiteJá">
          </a>
        </li>
        <li class="col-md-4">
          <a href="https://cwbfidelidade.com.br/" target="_blank">
            <img src="/static/imagens/logos/logo-fideliza.png" title="Cwb Fidelidade">
          </a>
        </li>
        <li class="col-md-4">
          <a href="http://serraverdeexpress.com.br/" target="_blank">
            <img src="/static/imagens/logos/logo-serraverde.png" title="Serra Verde Express">
          </a>
        </li>
        <li class="col-md-4">
          <a href="http://renaultexperience.com.br" target="_blank">
            <img src="/static/imagens/logos/logo-instituto_renault.png" title="Instituto Renault">
          </a>
        </li>
        <li class="col-md-4">
          <a href="http://www.hotmilk.com.br/" target="_blank">
            <img src="/static/imagens/logos/logo-hotmilk.png" title="Hotmilk">
          </a>
        </li>
        <li class="col-md-4">
          <a href="http://www.ciashop.com.br" target="_blank">
            <img src="/static/imagens/logos/logo-ciashop.png" title="Ciashop">
          </a>
        </li>
        <li class="col-md-4">
          <a href="http://www.omni.chat" target="_blank">
            <img src="/static/imagens/logos/logo-omni-chat.png" title="Omni.chat">
          </a>
        </li>
        <li class="col-md-4">
          <a href="https://conectu.com.br" target="_blank">
            <img src="/static/imagens/logos/logo-conectu.png" title="Conectu">
          </a>
        </li>
        <li class="col-md-4">
          <a href="http://www.photomed.com.br" target="_blank">
            <img src="/static/imagens/logos/logo-photomed.png" title="Photomed">
          </a>
        </li>

      </ul>
        </div>
		<div class="container gorilla-contact">
			<div class="col-md-8">
				<h1>Gostou do que viu? Venha nos conhecer!</h1>
			</div>

			<div class="col-md-2">
				<a class="btn btn-success gorilla-contact-button" href="/contato"
					role="button">Fale com a gente</a>
			</div>
		</div>

	</section>

{% endblock %}
